.not-finalized {
    color: green;
  }
  
  .is-finalized {
    color: red;
  }

  #clickableTrashCan {
    color: black;
    background-color: transparent;
    text-decoration: none
}

.margin-div{
  width: 100%; 
  margin-top: 20px;
}

.margin-top-div{
  margin-top: 3px
}

.layout-div{
  display: flex;
  justify-content: flex-start;
}

.bag-placements-div{
  border-right: 1px solid #000000;
  padding-right: 15px;
  margin-right: 15px;
}